@{
	ViewData["Title"] = @TempData["Action"] +" Hospital";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GNForm3C_.Areas.MST_Hospital.Models.MST_HospitalModel;

<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
	<!--begin::Toolbar container-->
	<div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
		<!--begin::Page title-->
		<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
			<!--begin::Title-->
			<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Hospital</h1>
			<!--end::Title-->
			<!--begin::Breadcrumb-->
			<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
				<!--begin::Item-->
				<li class="breadcrumb-item text-muted">
					<a asp-controller="Home" asp-action="Index" class="text-muted text-hover-primary"><i class="bi bi-house"></i> Home</a>
				</li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item">
					<span class="bullet bg-gray-400 w-5px h-2px"></span>
				</li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item text-muted">
					<a asp-area="MST_Hospital" asp-controller="MST_Hospital" asp-action="Index" class="text-muted text-hover-primary">Hospital</a>
				</li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item">
					<span class="bullet bg-gray-400 w-5px h-2px"></span>
				</li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item fw-bolder">@TempData["Action"] Hospital</li>
				<!--end::Item-->
			</ul>
			<!--end::Breadcrumb-->
		</div>
		<!--end::Page title-->
	</div>
	<!--end::Toolbar container-->
</div>
<!--end::Toolbar-->		
<form method="post" asp-area="MST_Hospital" asp-controller="MST_Hospital" asp-action="Save">
	<!--begin: Validation-->
	<div class="col-md-12 container">
		<div id="validatediv" asp-validation-summary="All" class="text-danger"></div>
	</div>
	<!--end: Validation-->
	<!--begin::Content-->
	<div id="kt_app_content" class="app-content flex-column-fluid">
		<!--begin::Content container-->
		<div id="kt_app_content_container" class="app-container container-fluid">
			<div class="card">
				<div class="card-body p-5 px-lg-10 py-lg-7">
					<div>

						@Html.HiddenFor(x=>x.HospitalID)

						<!--begin::Input Hospital group-->
						<div class="d-flex flex-column mb-8 fv-row">
							<!--begin::Label-->
							<label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="Hospital">
								<span class="text-danger">*</span>&nbsp;Hospital Name
								<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip"  data-bs-placement="right" title="Used For Select Hospital"></i>
							</label>
							<!--end::Label-->
							<input type="text" class="form-control form-control-solid" asp-for="Hospital" placeholder="Enter Hospital Name" autocomplete="off" />
							<span class="text-danger" asp-validation-for="Hospital"></span>
						</div>
						<!--end::Input Hospital group-->
						<!--begin::Input PrintName group-->
						<div class="d-flex flex-column mb-8 fv-row">
							<!--begin::Label-->
							<label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="PrintName">
								<span class="text-danger">*</span>&nbsp;Print Name
								<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip"  data-bs-placement="right" title="Used For Enter Print Name"></i>
							</label>
							<!--end::Label-->
							<textarea class="form-control form-control-solid" asp-for="PrintName" placeholder="Enter Print Name" autocomplete="off"></textarea>
							<span class="text-danger" asp-validation-for="PrintName"></span>
						</div>
						<!--end::Input PrintName group-->
						<!--begin::Input PrintLine1 group-->
						<div class="d-flex flex-column mb-8 fv-row">
							<!--begin::Label-->
							<label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="PrintLine1">
								Print Line - 1
								<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip"  data-bs-placement="right" title="Used For Enter Print Line 1"></i>
							</label>
							<!--end::Label-->
							<textarea class="form-control form-control-solid" asp-for="PrintLine1" placeholder="Enter Print Line 1" autocomplete="off"></textarea>
						</div>
						<!--end::Input PrintLine1 group-->
						<!--begin::Input PrintLine2 group-->
						<div class="d-flex flex-column mb-8 fv-row">
							<!--begin::Label-->
							<label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="PrintLine2">
								Print Line - 2
								<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip"  data-bs-placement="right" title="Used For Enter Print Line 2"></i>
							</label>
							<!--end::Label-->
							<textarea class="form-control form-control-solid" asp-for="PrintLine2" placeholder="Enter Print Line 2 " autocomplete="off">
								</textarea>
						</div>
						<!--end::Input PrintLine2 group-->
						<!--begin::Input PrintLine3 group-->
						<div class="d-flex flex-column mb-8 fv-row">
							<!--begin::Label-->
							<label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="PrintLine3">
								Print Line - 3
								<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip"  data-bs-placement="right" title="Used For Enter Print Line 3"></i>
							</label>
							<!--end::Label-->
							<textarea class="form-control form-control-solid" asp-for="PrintLine3" placeholder="Enter Print Line 3 " autocomplete="off">
							</textarea>
						</div>
						<!--end::Input PrintLine3 group-->
						<!--begin::Input ReportHeaderName group-->
						<div class="d-flex flex-column mb-8 fv-row">
							<!--begin::Label-->
							<label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="ReportHeaderName">
								Report Header Name
								<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip"  data-bs-placement="right" title="Used For Enter Report Header Name"></i>
							</label>
							<!--end::Label-->
							<input type="text" class="form-control form-control-solid" asp-for="ReportHeaderName" placeholder="Enter Report Header Name " autocomplete="off" />
						</div>
						<!--end::Input ReportHeaderName group-->
						<!--begin::Input FooterName group-->
						<div class="d-flex flex-column mb-8 fv-row">
							<!--begin::Label-->
							<label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="FooterName">
								<span class="text-danger">*</span>&nbsp;Report Footer Name
								<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip"  data-bs-placement="right" title="Used For Enter Footer Name"></i>
							</label>
							<!--end::Label-->
							<input type="text" class="form-control form-control-solid" asp-for="FooterName" placeholder="Enter Report Footer Name " autocomplete="off" />
							<span class="text-danger" asp-validation-for="FooterName"></span>
						</div>
						<!--end::Input FooterName group-->
						<!--begin::Actions-->
						<div>
							<button type="submit" class="btn btn-primary" style="margin-right:5px;" onclick="fn1()">
								<span class="indicator-label">Submit</span>
							</button>
							<a type="submit" class="btn btn-light me-3" asp-area="MST_Hospital" asp-controller="MST_Hospital" asp-action="Index">
								Back to List
							</a>
						</div>
						<!--end::Actions-->
					</div>
				</div>
			</div>
		</div>
		<!--end::Content container-->
	</div>
	<!--end::Content-->
</form>
@section Scripts{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	@* <script>
		function fn1(){
			document.getElementById("validatediv").classList = "alert alert-danger";
		}
	</script> *@

	<script>
		function fn1() {
			const hospitalIDInput = document.getElementById('HospitalID');
			const receiptTypeNameInput = document.getElementById('ReceiptTypeName');
			const FooterNameInput = document.getElementById('FooterName');

			// Check if all input fields have values
			if (hospitalIDInput.value && receiptTypeNameInput.value && FooterNameInput.value) {
				// All fields are filled, so don't show validation line
				document.getElementById('validatediv').classList.remove('alert alert-danger');
			} else {
				// At least one field is empty, so show validation line
				document.getElementById('validatediv').classList = "alert alert-danger";
			}
		}
	</script>
}