	@using GNForm3C_.BAL;
@model GNForm3C_.Areas.SEC_User.Models.SEC_UserModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<!--begin::Body-->
<div class="d-flex flex-column-fluid flex-lg-row-auto justify-content-center justify-content-lg-end p-12">
	<!--begin::Wrapper-->
	<div class="bg-body d-flex flex-center rounded-4 w-md-600px p-10">
		<!--begin::Content-->
		<div class="w-md-400px">
		
			<partial name="_loginForm"/>
		
		</div>
		<!--end::Content-->
	</div>
	<!--end::Wrapper-->
</div>
<!--end::Body-->