@model GNForm3C_.Areas.MST_Hospital.Models.MST_HospitalModel;
@using GNForm3C_.BAL;

<form method="post" asp-area="MST_Hospital" asp-controller="MST_Hospital" asp-action="Index">
    <div class="d-flex row">
        <!--begin::Input group-->
        <div class="col-lg-4 mb-8">
            <input type="search" class="form-control form-control-solid"
                   name="Hospital"
                   asp-for="Hospital" placeholder="Enter Hospital Name"
                   autocomplete="off" />
        </div>
        
        <!--end::Input group-->
        <div class="col-lg-4">
            <button type="submit" class="@CommonVariables.SearchBtnColor"
                    style="margin-right:15px;">
                <span class="indicator-label">Search</span>
            </button>
            <a type="submit" class="@CommonVariables.ClearBtnColor me-3"
               asp-area="MST_Hospital" asp-controller="MST_Hospital" asp-action="Clear">
                Clear
            </a>
        </div>
    </div>
</form>