@using GNForm3C_.Areas.ACC_Receipt.Models;
@model GNForm3C_.Areas.ACC_Receipt.Models.ACC_ReceiptModel;
@using GNForm3C_.BAL;

<form method="post" asp-area="ACC_Receipt" asp-controller="ACC_Receipt" asp-action="Index">

    <div class="d-flex row">
        <!--begin::Input group-->
        <div class="col-lg-4">
            <!--begin::Label-->
            <label class="d-flex align-items-center fs-6 fw-semibold mb-2 " asp-for="FromDate">
                <span class="text-danger">*</span>From Date
                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip"  data-bs-placement="right" title="used for select FromDate"></i>
            </label>
            <!--end::Label-->
            <!--begin::Input-->
            <input type="date" class="form-control form-control-solid"
                   asp-for="FromDate" 
                   autocomplete="off" />
            <!--end::Input-->

            <span class="text-danger field-validation-error" asp-validation-for="FromDate"></span> 

        </div>
        <!--end::Col-->
        <div class="col-lg-4">
            <!--begin::Label-->
            <label class="d-flex align-items-center fs-6 fw-semibold mb-2 " asp-for="ToDate">
                <span class="text-danger">*</span>To Date
                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip"  data-bs-placement="right" title="used for select ToDate"></i>
            </label>
            <!--end::Label-->
            <!--begin::Input-->
            <input type="date" class="form-control form-control-solid"
                   asp-for="ToDate"
                   autocomplete="off" />
            <!--end::Input-->
            <span class="text-danger field-validation-error" asp-validation-for="ToDate"></span>

        </div>
        <!--end::Col-->
        <!--end::Input group-->

        <div class="col-lg-4">
            <div class="d-flex align-items-center fs-6 fw-semibold mb-2"><br /></div>
            <div>
                <button type="submit" class="@CommonVariables.searchbtncolor"
                        style="margin-right:15px;" >
                    <span class="indicator-label">Search</span>
                </button>
                <a type="submit" class="@CommonVariables.clearbtncolor me-3"
                   asp-area="ACC_Receipt" asp-controller="ACC_Receipt" asp-action="Index">
                    Clear
                </a>
            </div>
        </div>
    </div>
</form>
@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}