
@{
	ViewData["Title"] = @TempData["Action"]+" Income Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GNForm3C_.Areas.MST_IncomeType.Models.MST_IncomeTypeModel
<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
	<!--begin::Toolbar container-->
	<div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
		<!--begin::Page title-->
		<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
			<!--begin::Title-->
			<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">IncomeType</h1>
			<!--end::Title-->
			<!--begin::Breadcrumb-->
			<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
				<!--begin::Item-->
				<li class="breadcrumb-item text-muted">
					<a asp-controller="Home" asp-action="Index" class="text-muted text-hover-primary"><i class="bi bi-house"></i> Home</a>
				</li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item">
					<span class="bullet bg-gray-400 w-5px h-2px"></span>
				</li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item text-muted">
					<a asp-area="MST_IncomeType" asp-controller="MST_IncomeType" asp-action="Index" class="text-muted text-hover-primary">IncomeType</a>
				</li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item">
					<span class="bullet bg-gray-400 w-5px h-2px"></span>
				</li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item fw-bolder">@TempData["Action"] Income Type</li>
				<!--end::Item-->
			</ul>
			<!--end::Breadcrumb-->
		</div>
		<!--end::Page title-->
	</div>
	<!--end::Toolbar container-->
</div>
<!--end::Toolbar-->

<form method="post" asp-area="MST_IncomeType" asp-controller="MST_IncomeType" asp-action="Save">

	<!--begin: Validation-->
	<div class="col-md-12 container">
		<div id="validatediv" asp-validation-summary="All" class="text-danger"></div>
	</div>
	<!--end: Validation-->
	<!--begin::Content-->
	<div id="kt_app_content" class="app-content flex-column-fluid">
		<!--begin::Content container-->
		<div id="kt_app_content_container" class="app-container container-fluid">
			<div class="card">
				<div class="card-body p-5 px-lg-10 py-lg-7">
					<div>
						@Html.HiddenFor(x=>x.IncomeTypeID)

						<!--begin::Input group-->
						<div class="d-flex flex-column mb-8 fv-row">
							<!--begin::Label-->
							<label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="HospitalID">
								<span class="text-danger">*</span>Hospital Name
								<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="used for select hospital"></i>
							</label>
							<!--end::Label-->
							<div class="col-12 col-md-12 fv-row">
								<select class="form-select form-select-solid" data-control="select2" data-hide-search="true" data-placeholder="Select Hospital" asp-for="HospitalID" asp-items="@(new SelectList(ViewBag.HospitalDropDown,"HospitalID","Hospital"))">
									<option value="">Select Hospital</option>
								</select>
							</div>
							<span class="text-danger" asp-validation-for="HospitalID"></span>
						</div>
						<!--end::Input group-->
						<!--begin::Input group-->
						<div class="d-flex flex-column mb-8 fv-row">
							<!--begin::Label-->
							<label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="IncomeType">
								<span class="text-danger">*</span>IncomeType
								<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="it accepts only unique IncomeType"></i>
							</label>
							<!--end::Label-->
							<input type="text" class="form-control form-control-solid" asp-for="IncomeType" placeholder="Enter User Name" autocomplete="off" />
							<span class="text-danger" asp-validation-for="IncomeType"></span>
						</div>
						<!--end::Input group-->
						<!--begin::Input group-->
						<div class="d-flex flex-column mb-8 fv-row">
							<!--begin::Label-->
							<label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="Remarks">
								@*    <span class="text-danger">*</span> *@Remarks
								<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="used for select Remarks"></i>
							</label>
							<!--end::Label-->
							<input type="text" class="form-control form-control-solid" asp-for="Remarks" placeholder="Enter Remarks" autocomplete="off" />
						</div>
						<!--end::Input group-->
						<!--begin::Actions-->
						<div>
							<button onclick="fn1()" type="submit" class="btn btn-primary" style="margin-right:5px;">
								<span class="indicator-label">Submit</span>
							</button>
							<a type="submit" class="btn btn-light me-3" asp-area="MST_IncomeType" asp-controller="MST_IncomeType" asp-action="Index">
								Back to List
							</a>
						</div>
						<!--end::Actions-->
					</div>
				</div>
			</div>
		</div>
		<!--end::Content container-->
	</div>
	<!--end::Content-->
</form>
@section Scripts{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	<script>
		function fn1() {
			const hospitalIDInput = document.getElementById('HospitalID');
			const IncomeTypeInput = document.getElementById('IncomeType');

			// Check if all input fields have values
			if (hospitalIDInput.value && IncomeTypeInput.value) {
				// All fields are filled, so don't show validation line
				document.getElementById('validatediv').classList.remove('alert alert-danger');
			} else {
				// At least one field is empty, so show validation line
				document.getElementById('validatediv').classList = "alert alert-danger";
			}
		}
	</script>
}

