@model GNForm3C_.Areas.MST_IncomeType.Models.MST_IncomeTypeModel;
<form method="post" asp-area="MST_IncomeType" asp-controller="MST_IncomeType" asp-action="Index">
    <div class="d-flex row">
        <!--begin::Input group-->
        <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-6 col-md-6 fv-row">
                <select class="form-select form-select-solid" data-control="select2"   asp-for="HospitalID" asp-items="@(new SelectList(ViewBag.HospitalDropDown,"HospitalID","Hospital"))">
                    <option value="">Select Hospital</option>
                </select>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-6 col-md-6 fv-row">
                <!--begin::Input-->
                <input type="search" class="form-control form-control-solid"
                       name="IncomeType"
                       asp-for="IncomeType" placeholder="Enter Income Type"
                       autocomplete="off" />
                <!--end::Input-->
            </div>
            <!--end::Col-->
        </div>
        <!--end::Input group-->

        <!--end::Input group-->
        <div class="col-lg-4">
            <button type="submit" class="btn btn-primary" asp-area="MST_IncomeType" asp-controller="MST_IncomeType" asp-action="Index"
               style="margin-right:15px;">
                <span class="indicator-label">Search</span>
            </button>
            <a type="submit" class="btn btn-light me-3"
               asp-area="MST_IncomeType" asp-controller="MST_IncomeType" asp-action="Index">
                Clear
            </a>
        </div>
    </div>
</form>